<footer id="footer">
  <p class="gbuz">
    <a href="http://ghostbuzter.com" target="_blank" title="ghost theme">ghost theme</a> by
    <a href="http://ghostbuzter.com" target="_blank" title="ghostbuzter.com">ghostbuzter.com</a></p>
</footer>
