<header id="header">
  <div class="wrapper">
    <span class="nav-icon inactive"></span>
    <div class="logo">
      <h1><a href="http://disciplina.ru">Disciplina</a></h1>
    </div>
    {{navigation}}
  </div>
</header>
