<nav id="navigation">
    <ul class="menu">
        {{#foreach navigation}}
            <li class="nav-{{slug}}{{#if current}} select{{/if}}" role="presentation"><a href="{{url absolute="true"}}">Главная</a></li>
        {{/foreach}}
    </ul>
</nav>
