<section class="pagination" role="navigation">
    {{#if prev}}
        <a class="newer-posts" href="{{page_url prev}}">Назад</a>
    {{/if}}
    {{#if next}}
        <a class="older-posts" href="{{page_url next}}">Далее</a>
    {{/if}}
</section>
