<div class="social">
  <div><div class="icons">
  <h5 class="title">Social Networks</h5>


      {{! example - delete if you want}}
        <a href="http://facebook.com/nike" title="facebook" class="icons--icon icon" target="_blank"  >
            <i class="fa fa-facebook"></i>
        </a>
        <a href="http://twitter.com" title="twitter" class="icons--icon icon" target="_blank"  >
            <i class="fa fa-twitter"></i>
        </a>
        <a href="http://tumblr.com" title="tumblr" class="icons--icon icon" target="_blank"  >
            <i class="fa fa-tumblr"></i>
        </a>
        <a href="http://trello.com" title="trello" class="icons--icon icon" target="_blank"  >
            <i class="fa fa-trello"></i>
        </a>
        <a href="http://dribbble.com" title="dribbble" class="icons--icon icon" target="_blank"  >
            <i class="fa fa-dribbble"></i>
        </a>


    	{{! paste below here }}


  </div></div>
</div>
