<div class="social">
  <div><div class="icons">
  <h5 class="title">Социальные сети</h5>


      {{! example - delete if you want}}
        <a href="https://www.facebook.com/Disciplina-503998376314200/" title="facebook" class="icons--icon icon" target="_blank"  >
            <i class="fa fa-facebook"></i>
        </a>
        <a href="http://twitter.com/disciplina_ru" title="twitter" class="icons--icon icon" target="_blank"  >
            <i class="fa fa-twitter"></i>
        </a>
        <a href="http://vk.com/" title="VK" class="icons--icon icon" target="_blank"  >
            <i class="fa fa-tumblr"></i>
        </a>
        

    	{{! paste below here }}


  </div></div>
</div>
