<div class="social">
  <div>
	<div class="icons">
  	<h5 class="title">Следите за нами в социальных сетях</h5>
        <a href="https://www.facebook.com/Disciplina-503998376314200/" title="facebook" class="icons--icon icon" target="_blank"  >
            <i class="fa fa-facebook"></i>
        </a>
        <a href="http://twitter.com/disciplina_ru" title="twitter" class="icons--icon icon" target="_blank"  >
            <i class="fa fa-twitter"></i>
        </a>
        <a href="http://vk.com/disciplina" title="VK" class="icons--icon icon" target="_blank"  >
            <i class="fa fa-VK"></i>
        </a>
    	 </div>
   </div>
</div>
