{{!< default}}
{{#tag}}
<div class="wrapper">
  <div class="writedposts">
    <h2 class="total">{{plural ../pagination.total empty='No posts' singular='% tagged as' plural='% tagged as'}} </h2> <h2 class="name"> {{name}}</h2>
    <p>
      {{description}}
    </p>
  </div>
</div>
{{/tag}}
{{> loop}}
